In [14]:
import pandas as pd 
import numpy as np

In [2]:
stocks1 = pd.read_csv('stocks1.csv')
print("5 dòng dữ liệu đầu của stocks1:")
print(stocks1.head())
print("\n5 dòng dữ liệu cuối của stocks1:")
print(stocks1.tail())
print("\nKiểu dữ liệu (dtype) của các cột của stocks1:")
print(stocks1.dtypes)
print("\nThông tin (info) của stocks1:")
print(stocks1.info())

5 dòng dữ liệu đầu của stocks1:
       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017

5 dòng dữ liệu cuối của stocks1:
        date symbol     open     high      low    close   volume
10  01-03-19   GOOG  1124.90  1142.97  1124.75  1140.99  1450316
11  04-03-19   GOOG  1146.99  1158.28  1130.69  1147.80  1446047
12  05-03-19   GOOG  1150.06      NaN      NaN  1162.03  1443174
13  06-03-19   GOOG  1162.49  1167.57  1155.49  1157.86  1099289
14  07-03-19   GOOG  1155.72  1156.76  1134.91  1143.30  1166559

Kiểu dữ liệu (dtype) của các cột của stocks1:
date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

Thông tin (info) của stocks1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    13 non-null     float64
 4   low     13 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 972.0+ bytes
None

In [3]:
stocks2 = pd.read_csv('stocks2.csv')
print("\n5 dòng dữ liệu đầu của stocks2:")
print(stocks2.head())
print("\n5 dòng dữ liệu cuối của stocks2:")
print(stocks2.tail())
print("\nKiểu dữ liệu (dtype) của các cột của stocks2:")
print(stocks2.dtypes)
print("\nThông tin (info) của stocks2:")
print(stocks2.info())

5 dòng dữ liệu đầu của stocks2:
       date symbol    open     high     low   close    volume
0  01-03-19     FB  162.60  163.132  161.69  162.28  11097770
1  04-03-19     FB  163.90  167.500  163.83  167.37  18894689
2  05-03-19     FB  167.37  171.880  166.55  171.26  28187890
3  06-03-19     FB  172.90  173.570  171.27  172.51  21531723
4  07-03-19     FB  171.50  171.740  167.61  169.13  18306504

5 dòng dữ liệu cuối của stocks2:
       date symbol    open      high     low   close    volume
5  01-03-19   TSLA  306.94  307.1300  291.90  294.79  22911375
6  04-03-19   TSLA  298.12  299.0000  282.78  285.36  17096818
7  05-03-19   TSLA  282.00  284.0000  270.10  276.54  18764740
8  06-03-19   TSLA  276.48  281.5058  274.39  276.24  10335485
9  07-03-19   TSLA  278.84  284.7000  274.25  276.59   9442483

Kiểu dữ liệu (dtype) của các cột của stocks2:
date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

Thông tin (info) của stocks2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    10 non-null     object
 1   symbol  10 non-null     object
 2   open    10 non-null     float64
 3   high    10 non-null     float64
 4   low     10 non-null     float64
 5   close   10 non-null     float64
 6   volume  10 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 692.0+ bytes
None

In [4]:
companies = pd.read_csv('companies.csv')
print("\nDữ liệu của companies:")
print(companies)
print("\nKiểu dữ liệu (dtype) của các cột của companies:")
print(companies.dtypes)
print("\nThông tin (info) của companies:")
print(companies.info())

Dữ liệu của companies:
   name  employees headquarters_city headquarters_state
0  AMZN     613300           Seattle                 WA
1  GOOG      98771     Mountain View                 CA
2  AAPL     132000         Cupertino                 CA
3    FB      48268        Menlo Park                 CA
4  TSLA      48016         Palo Alto                 CA

Kiểu dữ liệu (dtype) của các cột của companies:
name                  object
employees              int64
headquarters_city     object
headquarters_state    object
dtype: object

Thông tin (info) của companies:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                5 non-null      object
 1   employees           5 non-null      int64
 2   headquarters_city   5 non-null      object
 3   headquarters_state  5 non-null      object
dtypes: int64(1), object(3)
memory usage: 292.0+ bytes
None

In [5]:
stocks1['high'].fillna(stocks1.groupby('symbol')['high'].transform('max'), inplace=True)
stocks1['low'].fillna(stocks1.groupby('symbol')['low'].transform('min'), inplace=True)
print("\nKiểm tra và thay thế giá trị Null trong stocks1:")
print(stocks1.isnull().sum())

Kiểm tra và thay thế giá trị Null trong stocks1:
date      0
symbol    0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [6]:
stocks = pd.concat([stocks1, stocks2], ignore_index=True)
print("\n15 dòng dữ liệu cuối của stocks:")
print(stocks.tail(15))

15 dòng dữ liệu cuối của stocks:
        date symbol     open       high      low    close    volume
10  01-03-19   GOOG  1124.90  1142.9700  1124.75  1140.99   1450316
11  04-03-19   GOOG  1146.99  1158.2800  1130.69  1147.80   1446047
12  05-03-19   GOOG  1150.06  1167.5700  1124.75  1162.03   1443174
13  06-03-19   GOOG  1162.49  1167.5700  1155.49  1157.86   1099289
14  07-03-19   GOOG  1155.72  1156.7600  1134.91  1143.30   1166559
15  01-03-19     FB   162.60   163.1320   161.69   162.28  11097770
16  04-03-19     FB   163.90   167.5000   163.83   167.37  18894689
17  05-03-19     FB   167.37   171.8800   166.55   171.26  28187890
18  06-03-19     FB   172.90   173.5700   171.27   172.51  21531723
19  07-03-19     FB   171.50   171.7400   167.61   169.13  18306504
20  01-03-19   TSLA   306.94   307.1300   291.90   294.79  22911375
21  04-03-19   TSLA   298.12   299.0000   282.78   285.36  17096818
22  05-03-19   TSLA   282.00   284.0000   270.10   276.54  18764740
23  06-03-19   TSLA   276.48   281.5058   274.39   276.24  10335485
24  07-03-19   TSLA   278.84   284.7000   274.25   276.59   9442483

In [7]:
stocks_companies = pd.merge(stocks, companies, left_on='symbol', right_on='name', how='inner')
print("\n5 dòng dữ liệu đầu của stocks_companies:")
print(stocks_companies.head())

5 dòng dữ liệu đầu của stocks_companies:
       date symbol     open     high      low    close   volume  name  \
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877  AMZN
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358  AMZN
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522  AMZN
3  06-03-19   AMZN  1695.97  1709.43  1620.51  1668.95  3996001  AMZN
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017  AMZN

   employees headquarters_city headquarters_state
0     613300           Seattle                 WA
1     613300           Seattle                 WA
2     613300           Seattle                 WA
3     613300           Seattle                 WA
4     613300           Seattle                 WA

In [8]:
print("\nGiá trung bình và volume trung bình của mỗi công ty:")
print(stocks.groupby('symbol').agg({'open':'mean', 'high':'mean', 'low':'mean', 'close':'mean', 'volume':'mean'}))

Giá trung bình và volume trung bình của mỗi công ty:
            open        high       low     close      volume
symbol
AAPL     174.890   175.76600   173.472   174.674  23733309.4
AMZN    1681.284  1694.13400  1651.078  1671.046   4755355.0
FB       167.654   169.56440   166.190   168.510  19603715.2
GOOG    1148.032  1158.63000  1134.118  1150.396   1321077.0
TSLA     288.476   291.26716   278.684   281.904  15710180.2

In [9]:
print("\nGiá đóng cửa (close) trung bình, lớn nhất và nhỏ nhất ở mỗi công ty:")
print(stocks.groupby('symbol')['close'].agg(['mean', 'max', 'min']))

Giá đóng cửa (close) trung bình, lớn nhất và nhỏ nhất ở mỗi công ty:
            mean      max      min
symbol
AAPL     174.674   175.85   172.50
AMZN    1671.046  1696.17  1625.95
FB       168.510   172.51   162.28
GOOG    1150.396  1162.03  1140.99
TSLA     281.904   294.79   276.24

In [10]:
stocks_companies['parsed_time'] = pd.to_datetime(stocks_companies['date'])
print("\nKiểu dữ liệu của cột parsed_time:")
print(stocks_companies['parsed_time'].dtype)
print("\n5 dòng dữ liệu đầu của stocks_companies:")
print(stocks_companies.head())

Kiểu dữ liệu của cột parsed_time:
datetime64[ns]

5 dòng dữ liệu đầu của stocks_companies:
       date symbol     open     high      low    close   volume  name  \
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877  AMZN
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358  AMZN
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522  AMZN
3  06-03-19   AMZN  1695.97  1709.43  1620.51  1668.95  3996001  AMZN
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017  AMZN

   employees headquarters_city headquarters_state parsed_time
0     613300           Seattle                 WA  2019-01-03
1     613300           Seattle                 WA  2019-04-03
2     613300           Seattle                 WA  2019-05-03
3     613300           Seattle                 WA  2019-06-03
4     613300           Seattle                 WA  2019-07-03

C:\Users\MT COMPUTER\AppData\Local\Temp\ipykernel_2808\3812790677.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  stocks_companies['parsed_time'] = pd.to_datetime(stocks_companies['date'])

In [15]:
stocks_companies['result'] = np.where(stocks_companies['close'] > stocks_companies['open'], 'up', 'down')
print("\nDữ liệu mới với cột result:")
print(stocks_companies.head())

Dữ liệu mới với cột result:
       date symbol     open     high      low    close   volume  name  \
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877  AMZN
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358  AMZN
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522  AMZN
3  06-03-19   AMZN  1695.97  1709.43  1620.51  1668.95  3996001  AMZN
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017  AMZN

   employees headquarters_city headquarters_state parsed_time result
0     613300           Seattle                 WA  2019-01-03     up
1     613300           Seattle                 WA  2019-04-03     up
2     613300           Seattle                 WA  2019-05-03   down
3     613300           Seattle                 WA  2019-06-03   down
4     613300           Seattle                 WA  2019-07-03   down